{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Питомник "Бетховен"</h1>
            <p class="lead text-body-secondary">Открытость - наше главное преимущество! Все наши питомцы
                являются полноправными членами нашей семьи.</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for dog in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{  dog.image|media_filter }}" alt="Product image" class="img-fluid">
                    <div class="card-body">
                        <p class="card-text">{{ dog }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <li><a href="{% url 'dogs:dog_info' dog.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Просмотр</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}